[submodule "QC"]
	path = QC
	url = https://github.com/biowdl/QC.git
[submodule "aligning"]
	path = aligning
	url = https://github.com/biowdl/aligning.git
[submodule "tasks"]
	path = tasks
	url = git@github.com:biowdl/tasks.git
